<ion-content>
  <div class="change_password">
    <div class="inner-sign">
      <div class="container">
        <div class="row mt-5">
          <div class="col-12 p-0 mb-5 header d-flex justify-content-center align-items-center">
              <ion-title class="text-center text-white">Change Password</ion-title>
          </div>
          <div class="col-12">
          <form  [formGroup]="changeppassword">
            <div class="form-group text-cente">
              <label>Old Password</label>
              <input type="password" class="form-control text-center"  formControlName="oldpassword" placeholder="" id="pwd">
              <p class="error" *ngIf="changeppassword.get('oldpassword').hasError('required') && changeppassword.get('oldpassword').touched">Enter old password.</p>

            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control text-center" formControlName="password" placeholder="" id="pwd">
              <p class="error" *ngIf="changeppassword.get('password').hasError('required') && changeppassword.get('password').touched">Enter password.</p>

            </div>
            <div class="form-group">
              <label>Confirm Password</label>
              <input type="password" class="form-control text-center" formControlName="confirmpassword" placeholder="" id="pwd">
              <p class="error" *ngIf="changeppassword.get('confirmpassword').hasError('required') && changeppassword.get('confirmpassword').touched">Enter confirm password.</p>
              <p class="error" *ngIf="passwordCheck">Password and Confirm Password not matched.</p>


            </div>
            <br /><br />
            <button type="submit"
              class="form-control text-center confirm-btn btn btn-default btn-lg" [disabled]="!changeppassword.valid" (click)="change_password()">Confirm</button><br /><br />
              <p>Forget password?</p>
            </form><br/>
        </div>
      </div>
    </div>
  </div>
   <p (click)="gotoSignup()">Don't have an account? <b>Sign Up?</b></p>
  </div>
</ion-content>
