page-changepassword {
    .error{
        color: red !important;
    }
    .change_password {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        width: 100%;
        .title{
          margin: 20px 0;
        }
        .inner-sign{
            flex:1;
           }
        .container {
            margin: 0 auto;
        }
        .form-control:focus {
            border-color: transparent;
            box-shadow: none;
        }
        .form-group {
            margin-bottom: 2rem;
        }
        form {
            margin: 20px auto 0;
            max-width: 500px;
            width: 100%;
            text-align: center;
        }
        .logo img{
            width: 280px;
            object-fit: contain;
        }
        ::placeholder {
            color: #b6b6b6 !important;
        }
        p {
            color: #fff;
            text-align: center;
            b{
                color: #fff;
            }
        }
        input {
            font-size: 15px !important;
            width: 100%;
            border-radius: 10px;
            border: none;
            box-shadow: none;
            height: 45px;
            padding: 10px 10px;
            border: 2px solid #dbdbdb !important;
        }
    }
}
