page-sendmoneyconfirmation {
    .scroll-content{
        padding:0px !important;
    }

    .header-section .title{
        padding:15px;
    }

    .header-section .title .toolbar-title-ios{
        text-align:left;
    }
 
    .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios{
        background: none !important;
        border: 0;
    }
 
 
    .scroll-content .card{
        border: 0;
        box-shadow: 0 0 black;
        margin-top: 0;
        margin-bottom: 0;
    }

    .scroll-content .card .card-header{
        background: none;
        padding: 0;
        border: 0;
    }

    
    .scroll-content .card .card-header h4{
        margin: 10px;
        padding-top: 0;
        text-align: center;
        width: 100%;
        font-size: 21px;
        font-weight: bold;
        border: 0;
        margin-top: 0;
    }

        .wallet ion-card-header h4{
            color: #e54744;
        }

      

        .wallet-balance .wallet-heading{
            position: relative;
            top: 7px;
        }

        .wallet-balance p{
            font-size: 24px;
            text-align: center;
            color: black;
            font-weight: bold;
            margin-top: 8px;
        }
        
        
       
        .wallet-balance .proceed{
            font-size:14px;
            color: #a6a6a6;
            text-align:left;
        }

        .wallet-balance button{
            border-radius: 5px;  
            margin-top: 10px;
            font-size: 17px;
            background:#e54744;
        }

        .select-bank{
            margin-top:30px;
        }
        .select-bank h4{
            text-align:left !important;
        }

        .monthly-date{
            background: #eeeeee;
            padding: 0;
            color: #5d5d5d;
            margin:0;
            width:100% !important;
        }

        .monthly-date .card-content{
            padding:13px 30px 14px !important;
        }

       
        .wallet-balance h6{
            color:#a6a6a6 !important;
            margin-top:0px !important;
            font-size: 16px;
            text-align:center;
        }

        .final-amount-text{
            color: #5d5d5d;
            font-size:16px;
            font-weight:600;
        }

        .final-amount-price{
            color: #e54744;
            font-size:16px;
            font-weight:600;
            float:right;
        }

        .amount-row{
            border: 1px solid #eaf6f3;
            margin: -5px;
            padding: 7px;
            margin-bottom: 0px;
        }

        ion-icon {
            font-size: 30px;
            color: #e54744;
            margin-right: 10px;
            margin-top: 10px;
        }
}
