page-privacy-policy {
    ol {
        list-style: decimal;
        padding: 0px 10px;
    }
    p {
        font-size: 12px;
        line-height: 22px;
    }
ul{
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0px 10px;
}
h3{
    text-align: center;
}
}

