page-chatroom {
// .chat-list-view {
//     font-family: "Dosis" !important;
//     margin: 17px 17px 10px 17px;
//     border: 1;
//     border: 1px solid;
//     border-color: #999999;
//         ion-item{
//             height: 52px;
//         }
//     ion-thumbnail{
//         margin: -8px 5px 0px 0px !important;
//         img{
//             border-radius: 50% !important;
//             height: 47px !important;
//             width: 50px;
//             // margin: -5px 6px 7px 6px !important;
//         }
//     }
//     h2{
//         font-family: "Dosis" !important;
//         font-size: 16px !important;
//         font-weight: 600 !important;
//         color: #565656 !important;
//         // margin-left: 19px;
//         // margin-top: -35px;
    
//     }

 
   
// }
.profile_pic{
    display: flex;
    align-items: center;
    justify-content: center;
}
ion-thumbnail{
    // width:120px;
    margin: 0px !important;
    img{
        border-radius: 50% !important;
        height: 70px !important;
        width: 70px;
        margin-top: 3px;

    }
}
small{
    padding-right: 20px;
    display: block;
    text-align: right;
    color: red;
}
.chat-list-view {
    font-family: "Dosis" !important;
    padding: 10px 20px 0px;
        ion-item{
            // height: 52px;
        }
  
  

 
   
}
.chat-message-div{
    p{

    }
}
span.time-status {
    font-size: 16px !important;
    font-weight: bold;
    color: #ff2400 !important;
    float: right;
    margin-top: -19px;
    font-family: Dosis !important;
}
.chat-section{
    width: 100%;
}
.chat-lists{
  padding: 6px;
}
ion-item .item .item-inner {
    border-bottom: 0px !important;
}
.list .item .item-inner {
    border-bottom: 0px !important;

}
ion-item{
    border-bottom: 1px solid grey !important;
}
.label{
    margin: 7px 8px 13px 0  !important;
}
ion-label{
    white-space:none !important
}
.message-chatroom{
    display: inline-block;
    // white-space: nowrap;
    overflow-wrap: break-word;
    overflow: hidden !important;
    text-overflow: ellipsis
}

}
h2{
    font-family: "Dosis" !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    /* margin: -18px 6px 0px 8px; */
    color: #565656 !important;
    // margin-left: 19px;
    // margin-top: -35px;
    width: 100%;
margin: 5px 5px !important;
}
ion-row{
 }
.msg-list{
    margin-top: 15px;
    border-bottom: 1px solid #ccc;

}