
<ion-content>
  <div class="forget d-flex justify-content-center align-items-center">
<div class="container">
  <p class="title">Forgot Password</p>
  <div class="logo text-center">
    <img src="/assets/img/logo.jfif">
  </div>
   <div class="row">
    <div class="col-12">
      <form [formGroup]="forgetform">

        <div class="form-group text-center">
          <label>Email</label>
          <input type="email" class="form-control text-center" placeholder="demo@yahoo.com" id="email" formControlName="email">
          <p class="error" *ngIf="forgetform.get('email').hasError('required') && forgetform.get('email').touched">Enter email address.</p>
          <p class="error" *ngIf="forgetform.get('email').hasError('pattern') && forgetform.get('email').touched">Invalid email address.</p>
        </div>
        <br /><br />
        <button type="submit" class="form-control text-center signup-btn forgt btn btn-default btn-lg"
          (click)="forgetPassword()" [disabled]="!forgetform.valid"><b>Send</b></button><br /><br />
        <p (click)="goTo()">Sign In?</p>
      </form><br />
    </div>
   </div>
</div>
</div>
</ion-content>
